{{define "main"}}
    <section id="main">
        <h1 id="title">
            {{.Title}}
        </h1>
        {{.TableOfContents}}
        <article>
            {{.Content}}
        </article>
        <hr>
        {{ with .Params.Categories }}
        <div>Categories:{{ range . }} <a href="/categories/{{ . | urlize }}">{{ . }}</a>{{ end }}</div>
        {{ end }}
        {{ with .Params.Tags }}
        <div>Tags:{{ range . }} <a href="/tags/{{ . | urlize }}">{{ . }}</a>{{ end }}</div>
        {{ end }}
    </section>
{{end}}
