body{
    margin: auto;
    padding: 0;
    background-color: rgb(46, 45, 45);
    color: rgb(214, 212, 208);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: rgb(214, 212, 208);
}

h2 {
   font-size: large; 
}

h3 {
	font-size: medium;
}

#siteHeader{
    padding: .5em 1em;
    padding-right: 0;
    background-color: rgb(41, 41, 41);
    position: sticky;
    top: 0;
}

#siteHeader a{
    padding-right: 1%;
    text-decoration: none;
}

#siteHeader a:hover{
    text-decoration: underline;
}

#homelink:link{
    font-size: x-large;
    padding-right: 1%;
    text-decoration: none;
}

#homelink:hover{
    text-decoration: underline;
}

#content{
    margin: auto;
    width: 80%;
    padding-bottom: 2em;
}

@media (max-width: 450px) {

    body{
        line-height: 125%;
    }

    li {
        padding: .25rem 0;
    }
    
}

footer{
    text-align: center;
    padding-bottom: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(41, 41, 41);
}

footer hr{
    margin-top: 0;
}
