:root{
	--text-color: rgb(214, 212, 208);
	--background-color:rgb(46, 45, 45);
	--alt-background-color: rgb(41, 41, 41);
}

body{
    margin: auto;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#body{
	text-align: center;
}

a {
    color: var(--text-color);
}

h2 {
   font-size: large; 
}

h3 {
	font-size: medium;
}

#siteHeader{
    padding: .5em 1em;
    padding-right: 0;
    background-color: var(--alt-background-color);
    position: sticky;
    top: 0;
}

#siteHeader a{
    padding-right: 1%;
    text-decoration: none;
}

#siteHeader a:hover{
    text-decoration: underline;
}

#homelink:link{
    font-size: x-large;
    padding-right: 1%;
    text-decoration: none;
}

#homelink:hover{
    text-decoration: underline;
}

#content{
    margin: auto;
    width: 80%;
    padding-bottom: 2em;
}

@media (max-width: 450px) {

    body{
        line-height: 125%;
    }

    li {
        padding: .25rem 0;
    }
    
}

footer{
    text-align: center;
    padding-bottom: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--alt-background-color);
}

footer hr{
    margin-top: 0;
}

.tagList{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.tag{
	padding: 6px 12px;
	border: 1px solid var(--text-color);
	border-radius: 4px;
}

.tag a{
	text-decoration: none;
}
